.searchresultcard {
  background-color: $white;
  margin-bottom: 15px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .searchresultcard__url {
    font-size: 18px;
    color: $very-dark-blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 0.5px solid $gray;
    margin-bottom: 10px;
  }

  .searchresultcard__urlresult {
    font-size: 18px;
    color: $cyan;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .searchresultcard__btn {
    width: 100%;
    border-radius: 5px;
  }

  .copied {
    background-color: $dark-violet;
  }

  .searchresultcard__delete {
    background-color: $cyan;
    color: $white;
    width: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    height: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: -7px;
    top: -7px;
    justify-content: center;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .searchresultcard {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;

    .searchresultcard__containurlresult {
      display: flex;
      padding: 0;
      width: 50%;
      align-items: center;
      justify-content: flex-end;
    }

    .searchresultcard__url {
      border-bottom: none;
      padding: 0;
      margin-bottom: 0;
      width: 65%;
    }

    .searchresultcard__btn {
      max-width: 130px;
    }

    .searchresultcard__urlresult {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}
