.searchsection {
  position: relative;

  .searchsection__form {
    background-image: url("../../assets/bg-boost-mobile.svg");
    background-color: $dark-violet;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .searchsection__input {
    font-size: 18px;
  }

  .searchsection__wrapinput {
    width: 100%;
  }

  .searchsection__btn {
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
  }

  .searchsection__advanced {
    margin-top: 60px;
  }

  .searchsection__advancedtitle {
    font-weight: 700;
    font-size: 30px;
    color: $dark-violet;
  }

  .searchsection__advanceddesc {
    color: $grayish-violet;
    font-size: 18px;
    max-width: 525px;
  }

  .searchsection__content {
    background-color: $color-1;
    margin-top: -80px;
    padding-top: 100px;
  }

  .searchsection__error {
    margin-top: 8px;
    font-size: 16px;
    color: $red;
    font-style: italic;
  }

  .searchsection__errorinput {
    border: 2px solid $red;

    &::placeholder {
      color: $red;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .searchsection {
    .searchsection__cardstatistic {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .searchsection__advancedcontent {
      margin-bottom: 90px;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .searchsection {
    .searchsection__wrapinput {
      width: 80%;
      margin-right: 40px;
    }

    .searchsection__form {
      display: flex;
      background-image: url("../../assets/bg-shorten-desktop.svg");
    }

    .searchsection__btn {
      width: 20%;
    }

    .searchsection__btn {
      max-height: 57px;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .searchsection {
    .searchsection__cardstatistic {
      flex-wrap: nowrap;
    }

    .searchsection__advancedcontent {
      margin-bottom: 0;
    }
  }
}
